# Clerk 登录必需
CLERK_SECRET_KEY="sk_test_D9fAi0BXCWxmXszJljk8RZOeZLccbbtV2GA8V6QkeJ"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_c2tpbGxlZC1naWJib24tMjIuY2xlcmsuYWNjb3VudHMuZGV2JA"

# 数据库信息，评论/留言墙功能必需
DATABASE_URL="postgresql://neondb_owner:npg_wbUvpl9K4xRO@ep-odd-haze-a1m22myd-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Sanity CMS 必需
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_PROJECT_ID="sqzwbb97"
NEXT_PUBLIC_SANITY_USE_CDN="false"

# Email 通知必需
RESEND_API_KEY="re_5U8iVRJR_6sbbtkCYqgEyHqEFramHMhaX"
SITE_NOTIFICATION_EMAIL_TO="Nick_Job@163.com"
NEXT_PUBLIC_SITE_EMAIL_FROM="onboarding@resend.dev"
NEXT_PUBLIC_SITE_URL="https://example.com"

# Upstash Redis 必需
UPSTASH_REDIS_REST_TOKEN="AS3QAAIjcDFjZWRkYjFlNDk2YTU0ZjRhODA2MzZkMWExNzNmMDk2MXAxMA"
UPSTASH_REDIS_REST_URL="https://true-prawn-11728.upstash.io"
